/*
Styles for footer
-----------------

Global styles
*/

.footer {
    background-color:  #f8f8f8;
    color:#576574;
    width: 100%;
    border-top: 0.5px dotted #576574;
}
/*
Mid-size screen styles
*/


/*
Smaller screen styles
*/